{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Logged Out</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success">
                        <p>You have been successfully logged out.</p>
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login Again</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}